{% extends 'base.html' %} {% from "_formhelpers.html" import render_errors %} {%
from 'file_input.html' import render_file_input %} {% block title %} Edit
&quot;{{snippet.title}}&quot; {% endblock %} {% block content %}
<section class="bg-white top-16 relative dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
      Add a new snippet
    </h2>
    <form
      action="{{url_for('edit_snippet', id=snippet.id)}}"
      method="POST"
      id="edit-snippet-form"
    >
      {{ form.hidden_tag() }} {{ form.csrf_token }}
      <div class="space-y-6">
        <div>
          {{form.title.label(class="font-medium block mb-2 text-sm text-gray-900
          dark:text-white")}} {{form.title(value=snippet.title,
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
          rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full
          p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
          placeholder="Keep the title simple")}} {{ render_errors(form.title) }}
        </div>
        <div>
          {{form.description.label(class="font-medium block mb-2 text-sm
          text-gray-900 dark:text-white")}} {{form.description(rows=8,
          class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border
          border-gray-300 focus:ring-blue-500 focus:border-blue-500
          dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
          placeholder="What is the snippet about?")}} {{
          render_errors(form.description) }}
        </div>
        <div>
          {{form.lang.label(class="font-medium block mb-2 text-sm text-gray-900
          dark:text-white")}} {{form.lang(value=snippet.lang, id="lang-select",
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
          rounded-lg focus:ring-primary-500 focus:border-primary-500 block
          w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500")}} {{ render_errors(form.lang) }}
        </div>
        <div>
          {{form.tags.label(class="font-medium block mb-2 text-sm text-gray-900
          dark:text-white")}} {{form.tags(value=",".join(snippet.tags),
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
          rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full
          p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
          placeholder="tag1,tag2" )}} {{ render_errors(form.tags) }}
        </div>
        <div>
          {{form.content.label(class="font-medium block mb-2 text-sm
          text-gray-900 dark:text-white")}} {{form.content(rows=8,
          id="hidden-editor", class="hidden p-2.5 w-full text-sm text-gray-900
          bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500
          focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
          dark:focus:border-blue-500", placeholder="Paste your snippet here")}}
          {{ render_errors(form.content) }}
          <div id="editor" class="mb-6 text-base min-h-[400px]"></div>

          {{ render_file_input() }}
        </div>
        <div class="flex items-center">
          {{form.is_favorite(class="w-4 h-4 text-blue-600 bg-gray-100
          border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600
          dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700
          dark:border-gray-600")}} {{form.is_favorite.label(class="ms-2 text-sm
          font-medium text-gray-900 dark:text-gray-300")}}
        </div>
      </div>
      <div class="flex gap-x-3 mt-4 sm:mt-6">
        <a
          href="{{url_for('index')}}"
          type="button"
          class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Cancel
        </a>
        {{form.submit(class="inline-flex items-center px-5 py-2.5 text-sm
        text-center text-white bg-blue-700 rounded-lg focus:ring-4
        focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800")}}
      </div>
    </form>
  </div>
</section>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.3/ace.js"
  type="text/javascript"
  charset="utf-8"
></script>
<script src="{{url_for('static', filename='src/editor.js')}}"></script>
{% endblock %}
